body {background-color:#FDF6C3}

header {
    background-color: #14AE5C;
    border: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#navbar {
    background-color: #FFD5C8;
    border-radius: 20px;
}


#home, #products, #accessories, #frogs {
    background-color:#FFD5C8;
    width: 200px; height: 50px;
    border: none;
    color: rgb(223, 74, 213);
    font-size: 16px;
    transition: background-color 0.5s ease-in-out;
}