body {
    background-color:#FDF6C3;
}

header {
    background-color: #14AE5C;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-radius: 10px;
    border-color: rgb(154, 244, 154);

}

#title {
    color: white;
    font-family:sans-serif;
    font-size:xx-large;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(55, 204, 55);
}

.navbar {
    background-color: #FFD5C8;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    justify-content: space-evenly;
}


#home, #products, #accessories, #frogs {
    background-color:#FFD5C8;
    width: 200px; height: 50px;
    border: none;
    border-radius: 20px;
    color: rgb(223, 74, 213);
    font-size: 16px;
    transition: background-color 0.5s ease-in-out;
}

#home:hover, #products:hover, #accessories:hover, #frogs:hover{
    background-color: #fac9ba;
    opacity: 30%;
    border-radius: 20px;
}

row {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#box {
    width: 25%;
    height: 25%;
    background-color: #14AE5C;
    opacity: 0;
    z-index: 1;
    position: absolute;
    display: inline;
    
}

#box:hover {
    width: 25.1%;
    height: 39.5%;
    background-color: yellowgreen;
    opacity: 0.5;
    transition: 2s;
    padding-top: 20px;
    display: inline;
}

#frog_test1 {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    height: 25%;
    display: inline;
    z-index: -1;
}

#frog_test2 {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    height: 25%;
    display: inline;
}

#frog_test3 {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    height: 25%;
    display: inline;
}

#frog_button:hover {
    background-color: yellowgreen;
    opacity: 75%;
}

#frog_button {
    width: 150px;
    height: 115px;
}

#search {
    opacity: 0.8;
    border-style: solid;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    margin: 10px;
}

.sale_button {
    display: flex;
    flex-direction: row;

}

#sale {
    background-color: orangered;
    border-radius: 50px;
    opacity: 80%;
    border-style: solid;
    border-color: red;
    justify-content: center;
    align-content: stretch;
}

#button_box {
    width: 150px;
    height: 100px;
    background-color: #5ef8a6;
    border: 1px solid 14AE5C;
    border-radius: 20px;
    padding-top: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: 3px solid green; 
}

footer {
    background-color: #14AE5C;
    border: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 10px; 
    display: flex;
    justify-content: space-evenly;
}

.error {
    display: flex;
    flex-direction: row;
}

#Frog_Construction {
    opacity: 95%;
    scale: 115%;
    display: block;
    margin-left: 20%;
    margin-top: 1%;
}

#error_message {
    flex: auto;
}

#frog_button {
    background-color: yellowgreen;
    size: 200%;
    border-radius: 15px;
    padding: 8px;
}